src/KDV-node-unload-Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="nodeCollection">
		<xs:complexType>			
			<xs:sequence>
				<xs:element name="node" maxOccurs="unbounded">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element name="KDV" type="xs:integer"/>
							<xs:element name="X-COORD" type="xs:decimal"/>
							<xs:element name="Y-COORD" type="xs:decimal"/>
						</xs:sequence>				
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>	
	</xs:element>
	
</xs:schema>